<%- include ('../layout/layout-user') %>

    <body>
        <div class="bg-gray-800">
            <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6">
                <form id="edit-form" action="/admin/user-list" method="post">
                    <div class="grid gap-6 mb-6 lg:grid-cols-2">
                        <input type="text" name="product_id" value="<%= product.product_id %>" class="inputHidden" hidden>
                    <div class="mb-6">
                        <label for="input-name" class="block mb-2 text-sm font-medium text-white">Product Name</label>
                        <input value="<%= product.product_name %>" type="text" id="input-name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                    </div> 
                    <div class="mb-6">
                        <label for="input-quantity" class="block mb-2 text-sm font-medium text-white">Quantity</label>
                        <input value="<%= product.quantity %>" type="number" id="input-quantity" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                    </div>  
                    <div class="mb-6">
                        <label for="input-price" class="block mb-2 text-sm font-medium text-white">Price</label>
                        <input value="<%= product.price %>" type="number" id="input-price" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                    </div> 
                    <div class="mb-6">
                        <label for="input-image" class="block mb-2 text-sm font-medium text-white">Image</label>
                        <input value="<%= product.image %>" type="text" id="input-image" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="•••••••••" required>
                    </div> 
                
                    <input type="hidden" name="_method" value="put">
                
                      <button id="btn-edit" type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full items-center" >
                        Edit
                      </button>
                    <span class="notification text-white"></span>
                </form>
            
            </div>
        </div>

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script type="text/javascript">
            $("#btn-edit").on("click", function (event) {
                event.preventDefault();
                var name = $('#input-name').val();
                var quantity = $('#input-quantity').val();
                var price = $('#input-price').val();
                var image = $('#input-image').val();
                var product_id = $('.inputHidden').val();
                if (name == '' || quantity == '' || image == '' || price == '') {
                    alert('Empty input')
                } else {
                    $.ajax({
                        url: `/user/view-product`,
                        method: 'put',
                        data: {product_id:product_id, name: name, quantity: quantity, price: price, image: image },
                        success: function (data, textStatus, xhr) {
                            if (xhr.status == 200 || xhr.status == '200') {                        
                                $('.notification').html(`Update done!`)
                            } else {
                                alert('Some error occurred try again');
                            }
                        },
                        error: function (response) {
                            error.html(`${response.responseJSON.message}`);
                        }
                    });
                    
                }
            })
        </script>
         </body>
